.info-box {
    text-align: center;
    margin: 0 auto;
    font-weight: bolder;
    /* Add transition for smoother appearance */
    transition: all 0.3s ease;
    
}

.box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 50vw;
    padding: 5px;
    /* Add transition for smoother appearance */
    transition: all 0.3s ease;
}
