.info-box{
    text-align: center;
    margin:0 auto;
    font-weight: bolder;
}

.box{
    display: flex;
    position: fixed;
    justify-content: center;
    margin:0 auto;
    position: relative;
    text-align: center;
    width: 50vw;
    padding:5px;
    height: 81vh;
}
.icons{

    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 20px;
    
}

