/* body { */
    /*Change the image url if you want */
    /* background-image: url('https://assets-global.website-files.com/614716f50b4f49202fdd0087/616949393cf90643c1403605_6423.png'); */
    /* background-size: cover; */
   /* background-repeat: repeat-y; */
    /* background-position: center; */
/* } */

/* body{ */
    /* margin: 5rem 5rem 5rem 5rem; */
/* } */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adjust height as needed */
    /* background-color: #f0f0f0;  */
}

.box-container {
    /* margin-top: 15rem; */
    padding: 20px;
    border: 2px solid #d0e3f0;
    /* Change border color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    /* Add transition effect */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.box:hover .info-box {
    color: #3498db;
    /* Change text color on hover */
}

.heading__tag{
color: red;
position: relative;
width: 50vw;
height: 50px;
text-align: center;
padding-top: 10px;
border-radius: 1rem;
margin-top: 20px;
background-color: white;
border: 2px solid #d0e3f0;
}

#box_inside{
    background-color: cornsilk;
    color: solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    border: 2px solid #d0e3f0;
    padding: 10px;
}